<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/edcdm/
    
    # Redirect all requests to index.php if file/directory doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
