<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-4">Tira de Materias</h1>
            <p class="lead">Aquí puedes ver y gestionar la tira de materias.</p>
            <div class="accordion" id="accordionExample">
                @for (module of modules; track module) {
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#collapse-' + module!.id"
                            [attr.aria-controls]="'collapse-' + module!.id">
                            {{ module!.title }}
                        </button>
                    </h2>
                    <div [id]="'collapse-' + module!.id" class="accordion-collapse collapse"
                        data-bs-parent="#accordionExample">
                        <span>{{ module!.description }}</span>
                        <ol class="list-group list-group-numbered">
                            @for (lesson of module!.lessons; track lesson) {
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">{{lesson.title}}</div>
                                    {{lesson.description}}
                                </div>
                                <span class="badge text-bg-primary rounded-pill">14</span>
                            </li>
                            }
                        </ol>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>