<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Entrar</h1>
            <p class="col-lg-10 fs-4">Acceso para usuarios administradores, profesores, líderes y pastores.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" formControlName="email"
                        placeholder="name@example.com" [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    <label for="floatingInput">Email address</label>
                    @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                        <div class="invalid-feedback">
                            @if (loginForm.get('email')?.errors?.['required']) {
                                El email es requerido
                            }
                            @if (loginForm.get('email')?.errors?.['email']) {
                                Ingresa un email válido
                            }
                        </div>
                    }
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" formControlName="password"
                        placeholder="Password" [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <label for="floatingPassword">Password</label>
                    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                        <div class="invalid-feedback">
                            La contraseña es requerida
                        </div>
                    }
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" formControlName="rememberMe"> Remember me
                    </label>
                </div>
                @if (loginError) {
                    <label class="text-danger mb-3 d-block">{{ loginError }}</label>
                }
                <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
                <hr class="my-4">
                <small class="text-body-secondary">Al iniciar sesión, aceptas los términos de uso.</small>
            </form>
        </div>
    </div>
</div>